<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our page | {% block title %}{% endblock title %}</title>
    <style>
        html {
            background: "yellow";
            color : "blue";
        }
    </style>
</head>
<body>
    {% block main %}{% endblock main %}
</body>
</html>