{% extends 'base.html' %}

{% block title %}Detailed Page{% endblock title %}

{% block main %}
<h1>These are {{ person.name }}'s jobs.</h1>
<h3>Details:</h3>
<p>Age: {{person.age}}</p>
<p>School: {{person.school}}</p>
<ul>
    {% for j in professions %}
    <li>{{ j }}</li>
    {% endfor %}
</ul>
{% endblock main %}