{% extends 'base.html' %}

{% block title %}Detailed Page{% endblock title %}

{% block main %}
    <h1>These are people</h1>
    <hr>
    {% for person in people %}
    <h3>Details:</h3>
    <p>Age: {{person.age}}</p>
    <p>School: {{person.school}}</p>
    <h4>Professions:</h4>
    <ul>
        {% for j in person.professions %}
        <li>{{ j }}</li>
        {% endfor %}
    </ul>
    <hr>
    {% endfor %}
{% endblock main %}